
body{
    background-color: black;
    color: var(--text-color);
    background-image: radial-gradient(circle, #660000, #50040d, #390910, #22080d, #000000);    margin: 0;
    padding: 0;
    min-height: 100vh;
    user-select: none;
    cursor: default;
}  
.navbar{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto ;
    margin-top: 10px;
    border-radius: 50px;
    max-width: 1400px; /* Added this */


}

.navbar-conts{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;


}


.link-to-page{
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    display: inline-block; 
    padding: 10px;
}

.link-to-page:hover{
    color: var(--border-color);
    transform: scale(1.3); /* 10% larger */

}


.about-me {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}



.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 600px; 
    transition: transform 0.3s ease;
    border: 4px solid #E43636;

}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin: 90px auto; 
    max-width: 1200px;
    
}

.heading{
    font-size:50px;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 10px; 

}
.subheading{
    font-size: 27px;
    line-height: 1.4; 

}
footer{
    /* background-color: var(--pastel-blue); */
    color: var(--text-color);
    width: 70%;
    text-align: center;
}

.footer-wrap{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0%;
    font-family: 'Cinzel Decorative', cursive;

}

.main-container{
    /* display: block; */
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

/* Styling the entire scrollbar */
::-webkit-scrollbar {
    width: 0; /* For vertical scrollbar */
    height: 0; /* For horizontal scrollbar */
}



.color-strip {
    height: 10px;
    /* background: linear-gradient(to right, #4285F4, #EA4335, #FBBC04, #34A853); */
            background: #E43636;
            width: 100%;
        }
        .mot {
            position: relative;
            display: inline-block;
            padding-bottom: 5px;
            font-family: 'Cinzel Decorative', cursive;
            font-size: 30px;


        }
        .mot::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            /* background: linear-gradient(to right, #4285F4, #EA4335, #FBBC04, #34A853); */
            background: #E43636;
            transition: width 0.3s;
        }
        
        .mot:hover::after {
            width: 100%;

        }


.name{
    font-size:55px;
    overflow: hidden;
    border-right: 2px solid;
    white-space: nowrap;
    animation: typeAndFade 2s forwards;
    color: var(--border-color);
}
@keyframes typeAndFade {
    0% { width: 0; border-right-color: white }
    80% { width: 55%; border-right-color: white }
    100% { width: 55%; border-right-color: transparent }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .name{
        margin-left: 20%;
        font-size: 35px;
    }
    .navbar {
        flex-direction: column;
        gap: 1rem;
        width: 95%;
    }
    
    .navbar-conts {
        margin-right: 0;
    }
}