.body{
  color: var(--text-color);
  cursor: default;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}




:root {
    --color-primary-white: rgb(240, 240, 240);
  }
  
  .main-cont {
    width: fit-content;
    display: grid;
    justify-content:space-around;
    flex-direction: column;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
   }
 
  .project-card {
    width:32rem;
    height: 18rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    position:sticky;
    color: white;
    font-weight: 700;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    
  }
  
  .project-card img {
    border-radius: 10px;
    object-fit:fill;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }
  
  .project-card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: x-large;
    text-transform: uppercase;
    background-color: var(--border-color);
    padding: 10px;
    border-radius: 10px;
  }
  
  .project-card p, .project-card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  .project-card p {
    inset: auto auto 80px 30px;
  }
  
  .project-card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  .project-card:hover  {
    /* background-color: var(--border-color); */
    background-color: black;
    cursor:default;

  }
  .project-card:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  .project-card:hover p, .project-card:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  .project-card:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
    text-decoration: underline ;

  }
  
  .project-card:hover img {
    transition: opacity .2s ease-in;
    opacity: 0.1;
    
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
  }

  
  .cardHolder{
    width: 90vw;
    height: 100%;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
  }

  @media (max-width: 1024px) {
    .cardHolder {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .project-card{
      width: 90%;
      height: auto;
    }

    .navbar {
        flex-direction: column;
        gap: 1rem;
        width: 95%;
    }
    
    .navbar-conts {
        margin-right: 0;
    }
}